@media (max-width :1000px) {
    .container2{
      flex-wrap: wrap;
    
  
    }
    .item{
      width: 40%;
      
      margin-top: 2em;
    }
    .iconos{
      margin-top: 2em;
    }
    
    
    
  }
  @media (max-width :550px) {
    .container2{
      flex-direction: column;
    align-items: center;
  
    }
    .item{
    
      width: 60%;
    }
    .section1-titulo {
    width: 90%;
  
    }
    
  }