
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

input[type="checkbox"] {
    width: 80px;
    height: 80px;
    appearance: none;
    margin:8px 8px 5px 8px;
}
div {
    box-shadow: 
        0 0 0 8px black,
        0 0 0 16px white, 
        0 0 6px 19px rgba(0, 0, 0, 0.3);
}

input[type="checkbox"]:hover {
    background-color: green;
    opacity: 0.3;
}

input[type="checkbox"]:checked {
    border: white;
    background-color: green; 
}

