* {
    margin: 0;
    padding: 0;
}
.contenedorTop{
    display: flex;
    background-color: black;
    height: 3em;
    justify-content: space-between;
    align-items: center;
    padding: 0 4%;
    
   
}

.primerMenu ul{
   list-style: none;
   display: flex;
   flex-direction: row;
    color: aliceblue;
}
.primerMenu ul li{
    margin: 0 1%;
   
}
.primerMenu ul li .sinBorde{
    border: none;
}

.primerMenu a{
    text-decoration: none;
    color: aliceblue;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-right: 1px solid white;
    padding-right: 1em;
    font-size: 13px;
}
.primerMenu:first-child{
    width: 70%;
}
.primerMenu:last-child{
    width: 30%;
}
.primerMenu:first-child ul{
    justify-content: flex-start;
}
.primerMenu:last-child ul{
    justify-content: flex-end;
}

a:hover {
    color: orange;
}

img#icono {
    width: 50px;
    height: 50px;
   
}
.segundoContenedor{
    display: flex;
    background-color: #dfe3ee;
    align-items: center;
    flex-wrap: nowrap;
    flex-direction: row;
    align-content: space-around;
    justify-content: flex-end;
    padding-top: 2%;
    
}
.segundoMenu ul{
    list-style: none;
   display: flex;
   flex-direction: row; 
}
.segundoMenu ul li{
    margin: 0 2%;
}
.segundoMenu a {
    color: black;
    text-decoration: none;
}
.segundoMenu:first-child{
    width: 10%;
}
.segundoMenu:last-child{
    width: 90%;
}
li input{
    background-color: #dfe3ee;
    border: none;
    border-bottom: 1px solid gray;
    width: 11em;
    
 }

img#lupa {
    width: 20px;

}


img#moviles {
    width: 17em;
    height:17em ;
}

.cuerpoCompleto {
    
    background-color: #dfe3ee;
    display: flex;
    height: 20em;
    padding-bottom: 2em;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  

}
.titulo{
    font-size: 3em;
    font-weight: bold;
}
.subtitulo{
    font-size: 3em;
}
.subtitulo2{
    font-size: 2em;
    
}
.precio1{
font-size: 2em;
font-weight: bold;
}

.precio {
    font-size: 1.5em;
    text-decoration: line-through;
    text-decoration-color: black;
    color: gray;
}

.boton {
    
    width: 12em;
    height: 2em;
    background-color: #dfe3ee;
    color: gray;
    border: 2px solid gray;
    cursor: pointer;
    border-radius: 7px;
}

.contenedor {

    width: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: baseline;
    align-content: center;
    margin-left: 10%;
    margin-top: 5px;
}

img#movil {
    width: 11em;
    height: 9em;
}

.item-parafo {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;
    color: grey;

}

.item1 {
    background-color: #f0e6e4;
    width: 30%;
    text-align: center;
    padding-top: 1em;

}


.item2 {
    text-align: center;
    background-color: #dcdfe4;
    width: 30%;
    padding-top: 1em;
}

.item3 {
    text-align: center;
    background-color: #f0e6e4;
    width: 30%;
    padding-top: 1em;
}

.ultimaParte {
    background-color: #56a48e;
    height: 7em;
    width: 65.6em;
    margin-left: 10.4em;
    margin-top: 1%;
    color: aliceblue;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;

}

img#escudo {
    width: 10em;
    height: 8em;
}
.ultimaParte span{
    font-weight: bold;
    font-size: 1.5em;
}



.botonFinal {
    
    display: flex;
    width: 15em;
    height: 3em;
    background-color: #56a48e;
    align-content: space-around;
    justify-content: center;
    color: aliceblue;
    border: 2px solid aliceblue;
    font-weight: bold;
    cursor: pointer;
    margin-left: 6em;
}

.botonFinal:hover {
    background-color: black;

}

.boton:hover {
    background-color: black;
}