.todo {
  display: flex;
  justify-content: space-between;
}

.lenguaje {
  text-align: center;
  color: yellowgreen;
}
.document {
  text-align: center;
  color: violet;
}

.libro .fas fa-book {
  color: yellowgreen;
}
